body{
    background-color:lavender;
    color: darkblue;
}

a{
    text-decoration: none;
}

h1{
    font-size: 60px;
    color: black;
    text-align: center;
}

h2 {
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: 'Lucida Handwriting';
}

li{
    margin:20px;
}

div{
    float: left;
    padding: 50px;
    width: 10%;
    list-style-type:none;
    margin:30px;
}

#SelectOptions{
    margin:30px;
}

#Navigation{
    margin-left:100px;
    padding:30px;
    font-size:30px;
}
a:hover {
    color: deeppink;
}

ul{
    background-color: white;
    float: right;
    list-style-type: none;
    margin: 50px;
    padding: 50px;
}

#Ellen{
    float: left;
    margin: 10px;
    padding: 20px;
    background-color:white;
}

#Description {
    margin: 10px;
    padding: 20px;
    background-color: white;
}

image{
  width:50%;
  align-content:center;
  margin:50px;
}

